body {
	padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.alert-registration {
	border-color: #a9d4ff;
	background: white;
}

.alert-system-message {
  color: #FFF;
  text-align: left;
  clear: both;
/*   padding: 10px 15px; */

  position: relative;
/*   margin: 0 auto; */

  font-size: 14px;

  background: #045888; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0NTg4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjcxYTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #1f71a2 0%, #045888 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#045888), color-stop(100%,#1f71a2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1f71a2 0%, #045888 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1f71a2 0%, #045888 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1f71a2 0%, #045888 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1f71a2 0%, #045888 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#045888', endColorstr='#1f71a2',GradientType=0 ); /* IE6-8 */
}

.alert-system-message a:link,
.alert-system-message a:visited {
  font-weight: bold;
    color: #2be3fe;
}

.alert-system-messagee a:hover {
  color: #2bfe8e;
  text-decoration: none;
}

#alert-close-button {
  width: auto;
  float: right;
  clear: none;
}

.alert-text {
  width: 90%;
  clear: none;
  float: left;
/*   padding-top: 5px; */
  min-height: 30px
}

#system-alert {
  height: auto;
}

button.close-alert {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-shadow: 0 1px 0 #000;
  opacity: .8;
}